<div class="landing-form">
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="form-container">
                    <div class="title-form">
                        <h2>Bienvenid@ al</h2>
                        <h1>Simulador de interés</h1>
                        <p>Por favor complete el siguiente formulario</p>
                    </div>
                    <form action="/" method="POST">
                        <label for="stock">Monto de capital</label>
                        <div class="input-group mb-4">
                            <span class="input-group-text">$</span>
                            <input type="number" name="stock" class="form-control" placeholder="100.000" value="{{stockVal}}" required>
                        </div>
                        <label for="interestRate">Taza de interés anual</label>
                        <div class="input-group mb-4">
                            <input type="number" name="interestRate" class="form-control" placeholder="10" value="{{rateVal}}" required>
                            <span class="input-group-text">%</span>
                        </div>
                        <label for="years">Cantidad de Años</label>
                        <div class="input-group mb-4">
                            <input type="number" name="years" class="form-control" placeholder="3" value="{{yearVal}}" required>
                            <span class="input-group-text">años</span>
                        </div>
                        <div class="btn-group">
                            <input type="submit" id="btnCalculator" name="btncalculate" class="btn btn-primary" value="Simular taza de interés">
                        </div>
                    </form>
                    {{#if rateValueTotal}}
                    <div class="resultValue">
                        <div class="table-responsive">
                            <table class="table table-results">
                                <thead>
                                    <tr>
                                        <th>Items</th>
                                        <th align="right">Valores</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Monto de capital</td>
                                        <td align="right">${{stockVal}}</td>
                                    </tr>
                                    <tr>
                                        <td>Taza de interés anual</td>
                                        <td align="right">{{rateVal}}%</td>
                                    </tr>
                                    <tr>
                                        <td>Cantidad de Años</td>
                                        <td align="right">{{yearVal}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="total">Valor interés</td>
                                        <td class="totalVal" align="right">${{rateValueTotal}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>